

.ubicacion-mapa {
    padding: 10px 10px 10px 10px;
    color: #9f5864;
    margin : 0 43%;
  }
  
  .miami {
    padding: 8px 8px 8px 8px;
    margin: 0 43%;
  }
  
  .mapita {
    margin: 0 34%;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-top: 10px;
  }
  
  .ubicacion-boot {
    padding-left: 10px;
  }
  