$color-letra-nav: #6c3057;
$color-backgroundcolorete: #d1b6b4;
$footercolor: #d1b6b4;
$body: #f5eceb;
$h2h3: #9f5864;
$lihover: #9b525298;

%flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

%heather {
  display: flex;
  justify-items: space-evenly;

  margin: 20px;
  border: solid 1px #9f5864;

  padding: 10px;
  border-radius: 10px;
  align-items: center;
  text-decoration: none;
}

%acolor {
  text-decoration: none;
  color: #6c3057;
}

$mapflex: ( display: flex,
  justify-content: space-evenly,
  align-items: center ) ;